katalon_studio_relaxdays_shopping_cart_and_chrome_settings/.project
katalon_studio_relaxdays_shopping_cart_and_chrome_settings/Reports
katalon_studio_relaxdays_shopping_cart_and_chrome_settings/libs/TempTestSuite*
katalon_studio_relaxdays_shopping_cart_and_chrome_settings/bin